@import "./spectre.scss";
@import "~spectre.css/src/spectre-icons";

.btn {
  font-weight: 600;
}
.btn-group {
  border-radius: $border-radius;
}
.btn-secondary {
  background: $success-color;
  color: $light-color;
  border-color: darken($success-color, 3%);
  &:hover {
    background: darken($success-color, 3%);
    border-color: darken($success-color, 6%);
  }
}

.card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48, 55, 66, 0.15);
  height: 100%;
  margin-bottom: 1rem;
}

.btn-shadow {
  box-shadow: 0 0.1rem 0.5rem rgba(48, 55, 66, 0.15);
}
